  <div class="row" style="display: flex; justify-content: center;">
      <div class="card col-md-9" style="border-radius: 15px;background-color: #fcb040;padding: 40px;margin: 90px;margin-bottom: 0px;border-bottom-right-radius:0;border-bottom-left-radius:0;">
        <div class="row">
            <div class="col-md-6" >
                <div class="row ">
                  <h1 style="color: white; font-size: 4rem;line-height: 1;">{{data?.team?.team_name}}</h1>
                </div>
                <div class="row ">
                      <div class="col-md-2" *ngFor="let item of data?.team?.team_members_tasks">
                            <div class="row d-flex justify-center">
                              <img src="data:image/png;base64,{{item.user_profile}}" style="width: 40px; height: 40px;" />
                            </div>
                            <div class="row">
                              <h2 style="color: white; font-size: 1.2rem;line-height: 1;">{{item.user_name}} </h2>
                            </div>
                      </div>
                </div>
            </div>
            <div class="col-md-6" style="color: white;">
                  <div class="clash-card barbarian">
                      <div class="clash-card__level clash-card__level--barbarian" >Card {{data?.team?.team_card_dice_number}}</div>
                      <div class="clash-card__unit-name text-uppercase" style="line-height: 1;">{{data?.team?.team_card_theme}}</div>
                      <div class="clash-card__unit-description">{{data?.team?.team_card_description}}</div>
                      <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
                            <div class="one-third">
                              <div class="stat text-uppercase">{{data?.team?.team_task_type}}</div>
                              <div class="stat-value">Type</div>
                            </div>
                            <div class="one-third">
                              <div class="stat">{{data?.team?.team_task_points}}</div>
                              <div class="stat-value">Points</div>
                            </div>
                      </div>
                    </div>
            </div>
        </div>
      </div>
      <!-- <div class="col-md-5" [style]="userData.role === 'student' ? 'display:none' : ''">
        <h2 class="text-center form-h">Submit Response</h2>
  
        <div class="card shadow">
          <form [formGroup]="inputForm">
            <div class="card-body">
              <div class="form-group">
                <label for=""><b>Comments</b></label>
                <textarea class="form-control" formControlName="comment" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="bonus_point"><b>Bonus Point</b></label>
                <input type="number" class="form-control" formControlName="bonus_point" placeholder="Bonus Point">
              </div>
              <div class="form-group" style="padding-top: 20px;">
                <mat-dialog-actions>
                  <div class="text-center">
                    <button class="btn-reject" style="margin-right: 5px;" mat-button
                      (click)="rejectTask()">Reject</button>
                    <button class="btn-verify" mat-button (click)="verifyTask()">Verify</button>
                  </div>
                </mat-dialog-actions>
              </div>
            </div>
          </form>
        </div>
      </div> -->
  </div>

  <div class="row" style="display: flex; justify-content: center;">
    <div class="card col-md-9" style="border-radius: 15px;background-color: #686868;padding: 0px;margin: 90px;margin-top: 0px; border-top-right-radius:0;border-top-left-radius:0;">
      <mat-horizontal-stepper #stepper>
        <!-- keep icons as numbers during edit-->
        <!--
        <ng-template matStepperIcon="edit" let-index="index">
          {{index +1}}
        </ng-template>
        -->
      
        <!-- change default 'edit' icon -->
        <ng-template matStepperIcon="edit">
          <mat-icon>bubble_chart</mat-icon>
        </ng-template>
      
        <!-- change default 'done' icon -->
      <!-- 	
        <ng-template matStepperIcon="done">
          <mat-icon>done_all</mat-icon>
        </ng-template> -->
       
      
        <!-- changed step icons -->
        <ng-template matStepperIcon="home">
          <mat-icon>home</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="form">
          <mat-icon>format_align_center</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="last">
          <mat-icon>done_all</mat-icon>
        </ng-template>
        
        <mat-step label="First Step" state="home">
          <b style="margin-right: 10%;">Type:</b> <button mat-raised-button class="text-uppercase m-align"
                          color="accent">Community Task</button>
                        <hr>
                        <b style="margin-right: 10%;">Task Description:</b>
                        <h4 class="card-title">{{data?.team?.team_task_description}}</h4>
                        <p class="card-text text-right">{{data?.team?.team_task_points}} Points 
                            <span class="ml-3 task-level {{data?.team?.team_task_type}}"></span>
                            <span class="pl-1 text-capitalize">{{data?.team?.team_task_type}}</span>
                        </p>
      
                        <hr>
                        <span>
                          <h4><b style="margin-right: 7%; text-align: left;">Team Response:</b></h4>
                          <div *ngFor="let item of data?.team?.team_task_ques_review">
                            <p><strong>Q: {{item.question}}</strong></p>
                            <p>A: {{item.answer}}</p>
                          </div>
                        </span>
                        <hr>
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">
      
                              <div id="demo" class="carousel slide" data-ride="carousel">
                                <!-- The slideshow -->
                                <br><br>
                                <div class="carousel-inner">
                                  <div *ngFor="let item of data?.team?.team_task_supporting_docs; let i = index"
                                    class="carousel-item {{i === 0 ? 'active' : ''}}">
                                    <img class="center-block"
                                      src="data:image/png;base64,{{item}}" width="1500"
                                      height="600">
                                  </div>
      
      
                                  <!-- Left and right controls -->
                                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                  </a>
                                  <a class="carousel-control-next" href="#demo" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
      
                        <hr>
                        <div *ngFor="let item of data?.team?.team_task_supporting_docs">
                           <b style="margin-right: 10%; text-align: left;">Image:</b><img class="img-thumbnail" height="20%"
                             width="20%" src="data:image/png;base64,{{item}}"
                             alt="Card image cap">
                           <hr>
                        </div>
          <div>
            <button mat-button matStepperNext>Continue</button>
          </div>
        </mat-step>
      

  <!-- <ng-template *ngFor="let item of data?.team?.team_members_tasks"> -->
  <mat-step *ngFor="let item of data?.team?.team_members_tasks" label="{{item.user_name}}" state="form">
      <b style="margin-right: 10%;">Type:</b><button mat-raised-button class="text-uppercase m-align"
      color="accent">Self Task</button>

    <hr>
    <b style="margin-right: 10%;">Task Description:</b>
    <h4 class="card-title">{{item.user_task_description}}</h4>
    <p class="card-text text-right">{{item.user_task_points}} Points <span
        class="ml-3 task-level {{item.user_task_type}}"></span><span
        class="pl-1 text-capitalize">{{item.user_task_type}}</span></p>

    <hr>
      <span>
        <h4><b style="margin-right: 7%; text-align: left;">User Response:</b></h4>
        <div *ngFor="let item1 of item.user_task_ques_review">
          <p><strong>Q: {{item1.question}}</strong></p>
          <p>A: {{item1.answer}}</p>
        </div>
      </span>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div id="demo2" class="carousel slide" data-ride="carousel">



            <!-- The slideshow -->
            <br><br>
            <div class="carousel-inner">
               <div *ngFor="let item1 of item.user_task_supporting_docs; let i = index"
                 class="carousel-item {{i === 0 ? 'active' : ''}}">
                 <img class="center-block" src="data:image/png;base64,{{item1}}" width="1500"
                   height="600">
               </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo2" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
     <div *ngFor="let item1 of item.user_task_supporting_docs">
       <b style="margin-right: 10%; text-align: left;">Image:</b><img class="img-thumbnail" height="20%"
         width="20%" src="data:image/png;base64,{{item1}}" alt="Card image cap">
       <hr>
     </div>
                
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
   
     <!-- </ng-template> -->
      
        <mat-step label="Done" state="last">
          <form [formGroup]="inputForm">
            <div class="card-body">
              <div class="form-group">
                <label for=""><b>Comments</b></label>
                <textarea class="form-control" formControlName="comment" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="bonus_point"><b>Bonus Point</b></label>
                <input type="number" class="form-control" formControlName="bonus_point" placeholder="Bonus Point">
              </div>
              <div class="form-group" style="padding-top: 20px;">
                <mat-dialog-actions>
                  <div class="text-center">
                    <button class="btn-reject" style="margin-right: 5px;" mat-button
                      (click)="rejectTask()">Reject</button>
                    <button class="btn-verify" mat-button (click)="verifyTask()">Verify</button>
                  </div>
                </mat-dialog-actions>
              </div>
            </div>
          </form>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button class="btn-verify" mat-button (click)="verifyTask()">Verify</button>
          </div>
        </mat-step>
      
      </mat-horizontal-stepper>
    </div>
  </div>
<!--  -->