<h2 class="heading text-uppercase" style="text-align: center;">TASK BY {{data?.team?.team_name}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="card tabx">
            <ul class="nav nav-tabs" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="team-task-tab" data-toggle="pill" href="#team-task" role="tab"
                  aria-controls="pills-home" aria-selected="true"><b>Community Task</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" *ngFor="let item of data?.team?.team_members_tasks"
                  id="pills-{{item.user_name}}-tab" data-toggle="pill" href="#pills-{{item.user_name}}" role="tab"
                  [attr.aria-controls]="'pills-'+item.user_name" aria-selected="false"><b>{{item.user_name}}</b></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="team-task" role="tabpanel" aria-labelledby="team-task-tab">
              <div class="card shadow" style="margin-top: 40px;">
                <div class="card-body">
                  <b style="margin-right: 10%;">Type:</b> <button mat-raised-button class="text-uppercase m-align"
                    color="accent">Community Task</button>
                  <hr>
                  <b style="margin-right: 10%;">Task Description:</b>
                  <h4 class="card-title">{{data?.team?.team_task_description}}</h4>
                  <p class="card-text text-right">{{data?.team?.team_task_points}} Points <span
                      class="ml-3 task-level {{data?.team?.team_task_type}}"></span><span
                      class="pl-1 text-capitalize">{{data?.team?.team_task_type}}</span></p>

                  <hr>
                  <b style="margin-right: 10%;">Task Description:</b>
                  <h4 class="card-title">{{data?.team?.team_task_description}}</h4>
                  <p class="card-text text-right">{{data?.team?.team_task_points}} Points <span
                      class="ml-3 task-level {{data?.team?.team_task_type}}"></span><span
                      class="pl-1 text-capitalize">{{data?.team?.team_task_type}}</span></p>

                  <hr>
                  <span>
                    <p><b style="margin-right: 7%; text-align: left;">User Response:</b>
                      {{data?.team?.team_task_explaination}}</p>
                  </span>
                  <hr>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">

                        <div id="demo" class="carousel slide" data-ride="carousel">



                          <!-- The slideshow -->
                          <br><br>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" width="1500"
                                height="600">
                            </div>
                            <div class="carousel-item">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" alt="" width="1500"
                                height="600">
                            </div>
                            <div class="carousel-item">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" alt="" width="1500"
                                height="600">
                            </div>
                            <div class="carousel-item">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" alt="" width="1500"
                                height="600">
                            </div>
                            <div class="carousel-item">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" alt="" width="1500"
                                height="600">
                            </div>
                            <div class="carousel-item">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" alt="" width="1500"
                                height="600">
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr>
                  <b style="margin-right: 10%; text-align: left;">Image:</b> <img class="img-thumbnail" height="20%"
                    width="20%" src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}"
                    alt="Card image cap">
                  <hr>
                  <b style="margin-right: 10%; text-align: left;">Image:</b> <img class="img-thumbnail" height="20%"
                    width="20%" src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}"
                    alt="Card image cap">
                  <hr>
                  <b style="margin-right: 10%; text-align: left;">Image:</b> <img class="img-thumbnail" height="20%"
                    width="20%" src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}"
                    alt="Card image cap">
                  <hr>
                  <b style="margin-right: 10%; text-align: left;">Image:</b> <img class="img-thumbnail" height="20%"
                    width="20%" src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}"
                    alt="Card image cap">

                </div>
              </div>

            </div>

            <div *ngFor="let item of data?.team?.team_members_tasks" id="pills-{{item.user_name}}" role="tabpanel"
              [attr.aria-labelledby]="'pills-'+item.user_name+'-tab'" class="tab-pane fade">

              <div class="card shadow" style="margin-top: 20px;" *ngFor="let item of data?.team?.team_members_tasks">
                <div class="card-body">
                  <b style="margin-right: 10%;">Type:</b><button mat-raised-button class="text-uppercase m-align"
                    color="accent">Self Task</button>

                  <hr>
                  <b style="margin-right: 10%;">Task Description:</b>
                  <h4 class="card-title">{{item.user_task_description}}</h4>
                  <p class="card-text text-right">{{item.user_task_points}} Points <span
                      class="ml-3 task-level {{item.user_task_type}}"></span><span
                      class="pl-1 text-capitalize">{{item.user_task_type}}</span></p>

                  <hr>
                  <b style="margin-right: 10%;">Task Description:</b>
                  <h4 class="card-title">{{item.user_task_description}}</h4>
                  <p class="card-text text-right">{{item.user_task_points}} Points <span
                      class="ml-3 task-level {{item.user_task_type}}"></span><span
                      class="pl-1 text-capitalize">{{item.user_task_type}}</span></p>

                  <hr>
                  <p class="card-text"><b style="margin-right: 7%; text-align: left;">User Response:</b>
                    {{item.user_task_explaination}}</p>
                  <hr>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">

                        <div id="demo2" class="carousel slide" data-ride="carousel">



                          <!-- The slideshow -->
                          <br><br>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" width="1500"
                                height="600">
                            </div>
                            <div class="carousel-item">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" alt="" width="1500"
                                height="600">
                            </div>
                            <div class="carousel-item">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" alt="" width="1500"
                                height="600">
                            </div>
                            <div class="carousel-item">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" alt="" width="1500"
                                height="600">
                            </div>
                            <div class="carousel-item">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" alt="" width="1500"
                                height="600">
                            </div>
                            <div class="carousel-item">
                              <img class="center-block"
                                src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}" alt="" width="1500"
                                height="600">
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo2" data-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
<hr>
                  <b style="margin-right: 10%; text-align: left;">Image:</b> <img class="img-thumbnail" height="20%"
                    width="20%" src="data:image/png;base64,{{item.user_task_supporting_doc}}" alt="Card image cap">
                  <hr>
                  <b style="margin-right: 10%; text-align: left;">Image:</b> <img class="img-thumbnail" height="20%"
                    width="20%" src="data:image/png;base64,{{item.user_task_supporting_doc}}" alt="Card image cap">
                  <hr>
                  <b style="margin-right: 10%; text-align: left;">Image:</b> <img class="img-thumbnail" height="20%"
                    width="20%" src="data:image/png;base64,{{item.user_task_supporting_doc}}" alt="Card image cap">
                  <hr>
                  <b style="margin-right: 10%; text-align: left;">Image:</b> <img class="img-thumbnail" height="20%"
                    width="20%" src="data:image/png;base64,{{item.user_task_supporting_doc}}" alt="Card image cap">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <h2 class="text-center form-h"><b>Submit Response</b></h2>

      <div class="card shadow">
        <form [formGroup]="inputForm">
          <div class="card-body">
            <div class="form-group">
              <label for=""><b>Comments</b></label>
              <textarea class="form-control" formControlName="comment" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="bonus_point"><b>Bonus Point</b></label>
              <input type="number" class="form-control" formControlName="bonus_point" placeholder="Bonus Point">
            </div>
            <div class="form-group" style="padding-top: 20px;">
              <mat-dialog-actions>
                <div class="text-center">
                  <button class="btn-reject" style="margin-right: 5px;" mat-button
                    (click)="rejectTask()">Reject</button>
                  <button class="btn-verify" mat-button (click)="verifyTask()">Verify</button>
                </div>
              </mat-dialog-actions>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>