 <h2 class="heading text-uppercase" style="text-align: center;">TASK BY {{data?.team?.team_name}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-12">
      <button mat-raised-button class="text-uppercase m-align" color="accent">Community Task</button>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{data?.team?.team_task_description}}</h4>
          <p class="card-text text-right">{{data?.team?.team_task_points}} Points <span
              class="ml-3 task-level {{data?.team?.team_task_type}}"></span><span
              class="pl-1 text-capitalize">{{data?.team?.team_task_type}}</span></p>
        </div>
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img class="img-thumbnail" src="data:image/png;base64,{{data?.team?.team_task_supporting_doc}}"
              alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-text">{{data?.team?.team_task_explaination}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button mat-raised-button class="text-uppercase m-align" color="accent">Self Task</button>
    </div>
    <div class="col-md-12 mb-3" *ngFor="let item of data?.team?.team_members_tasks">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{item.user_task_description}}</h4>
          <p class="card-text text-right">{{item.user_task_points}} Points <span
              class="ml-3 task-level {{item.user_task_type}}"></span><span
              class="pl-1 text-capitalize">{{item.user_task_type}}</span></p>
        </div>
        <div class="card-horizontal">
          <div class="img-square-wrapper">
            <img class="img-thumbnail" src="data:image/png;base64,{{item.user_task_supporting_doc}}"
              alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-text">{{data?.item?.team_task_explaination}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="verifyTask()">Verify</button>
</mat-dialog-actions>
