/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// Align Icons CSS
.material-icons {
    vertical-align: middle !important;
}
.material-icons-outlined {
    vertical-align: middle !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-menu-panel {
  background: white;
}
.mat-menu-panel .mat-menu-item {
  color: black;
  border: 0px;
}
.container-fluid{
  top: 90px;
  position: absolute;
}
/* label style */
.mat-tab-label{
    background: #cd4266;
    opacity: 1 !important;
    color:white;
    border-radius: 50%;
    margin: 5px;
  }
.mat-tab{
display: flex;
align-items: flex-start;
}
.mat-tab-header{
  border: 0px solid !important;
  margin-bottom: 20px;
}
  /* focus style */
  .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus{
    background: #fcb040;
    opacity: 1 !important;
    border: 0px solid;
  }
  /* ink bar style */
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: transparent;
    height: 10px;
  }

// .mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar {
//     background-color: #2C702A;
// }


.mat-tab-label.mat-tab-label-active {
    background-color: #fcb040;
    opacity: 1 !important;
    color: black;
}
