/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// Align Icons CSS
.material-icons {
    vertical-align: middle !important;
}
.material-icons-outlined {
    vertical-align: middle !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-menu-panel {
  background: white;
}
.mat-menu-panel .mat-menu-item {
  color: black;
  border: 0px;
}
.container-fluid{
  top: 90px;
  position: absolute;
}
/* label style */
.mat-tab-label{
    opacity: 1 !important;
    color:white;
    // border-radius: 50%;
    margin: 5px;
  }
.mat-tab{
display: flex;
align-items: flex-start;
}
.mat-tab-header{
  border: 0px solid !important;
  margin-bottom: 20px;
}
  /* focus style */
  .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus{
    opacity: 1 !important;
    border: 0px solid;
  }
  /* ink bar style */
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: transparent;
    height: 10px;
  }

.mat-tab-label {
  min-width: 150px !important;
  height: 40px !important;
  padding: 0px !important;
}

.mat-tab-label-active .gold {
  border-bottom: 4px solid gold;
  background: rgba(255, 215, 0, 0.5) !important;
}
.mat-tab-label-active .silver {
  border-bottom: 4px solid silver;
  background: rgba(192, 192, 192, 0.5) !important;
}
.mat-tab-label-active .bronze {
  border-bottom: 4px solid #cd7f32;
  background: rgba(176, 141, 87, 0.5) !important;
}
.mat-tab-label-active .tab-box {
  background-color: #E72066 !important;
}
.mat-table {
  width: 100% !important;
}
.pink{
  color: #E72066 !important;
}
.pink-bg {
  background-color: #cd4266 !important;
}
.res-page .mat-icon-no-color {
  margin-top: -20px;
}
.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  background-color: #e3e3e8;
}

.card{
  border-radius: .5rem;
}
.card-heading span {
  height: 2px;
  background-color: #bfbfbf;
  width: 15%;
  display: block;
}

.card-heading, .card-heading h2{
  color: #CE4166;
  margin-bottom: 20px;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.btn-jagrik{
  background-color: #cd4266;
  border-color: #cd4266;
  color: white;;
}
.btn-jagrik:hover {
  color: #fff;
  background-color: #f3b54e;
  border-color: #f3b54e;
}
.rounded-circle{
  border-radius: 50% !important;
}
.rounded-circle-big{
  border-radius: 50% !important;
  height: 100px;
  width: 100px;
}