/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

// Align Icons CSS
.material-icons {
    vertical-align: middle !important;
}
.material-icons-outlined {
    vertical-align: middle !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-menu-panel {
  background: white;
}
.mat-menu-panel .mat-menu-item {
  color: black;
  border: 0px;
}
