
<!---START-->
<mat-tab-group class="d-flex justify-content-center">
  <mat-tab id="tb-tab">
    <ng-template mat-tab-label>
      <div [ngClass]="'pink-tab tab-box'">
      <label>
        <mat-icon class="example-tab-icon">groups</mat-icon> Teams
      </label>
      </div>
    </ng-template>
    <div class="row" style="padding-bottom: 30px;" >
      <div *ngIf="!teamArrayExist && newUser.length === 0" class="col-md-12" style="max-height: 60vh;text-align: center;">
        <h4>No teams and team member found !</h4>
        <img style="margin-top:30px;max-height: 60vh;text-align: center;" src="assets/undraw_my_personal_files_8krs.svg">
      </div>

      <div class="col-md-12">
        <div class="row justify-content-start">
          <div class="col-md-2" *ngFor="let item of teamArray | keyvalue">
            <div class="card card-team">
              <div class="row">
                <div class="col-md-6 text-center" *ngFor="let item1 of item.value">
                   <img src="{{item1.user_profile_pic}}" class="rounded-circle">
                   <h3>{{item1.name}}</h3>
                </div>
              </div>
              <div class="card-body">
                <h1 class="card-text text-center text-capitalize">{{item.key}}</h1>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab id="tb-tab1">
    <ng-template mat-tab-label>
       <div [ngClass]="'pink-tab tab-box'">
         <label>
            <mat-icon class="example-tab-icon">person</mat-icon> Members
         </label>
       </div>
    </ng-template>
    <!-- <div class="row" style="padding-top: 30px;padding-bottom: 30px;" *ngIf="userRole !== 'student'">
      <div class="col-md-12">
        <div class="row justify-content-start">
          <div class="col-md-1" *ngFor="let item of newUser">
            <div class="card text-center card-member ">
              <div class="card-header" style="background-color: #cd4266;padding: 20px;">

              </div>
              <div class="row">
                <div class="col-md-12 text-center" style="align-items: center" >
                  <img src="{{item.user_profile_pic}}" class="rounded-circle img-member img">
                  <h3>{{item.name}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <app-class-members></app-class-members>
  </mat-tab>
</mat-tab-group>

<!-- END -->
