
<br><br>
<!---START-->
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">groups</mat-icon>
      Teams
    </ng-template>
    <div class="row" >
      <div *ngIf="!teamArrayExist && newUser.length === 0" class="col-md-12" style="max-height: 60vh;text-align: center;">
        <h4>No teams and team member found !</h4>
        <img style="margin-top:30px;max-height: 60vh;text-align: center;" src="assets/undraw_my_personal_files_8krs.svg">
      </div>
    
      <div class="col-md-12">
        <div class="row justify-content-start">
          <div class="col-md-2" *ngFor="let item of teamArray | keyvalue">
            <div class="card card-team">
              <div class="row">
                <div class="col-md-6 text-center" *ngFor="let item1 of item.value">
                   <img src="{{item1.user_profile_pic}}" class="rounded-circle">
                   <h3>{{item1.name}}</h3>
                </div>
              </div>
              <div class="card-body">
                <h1 class="card-text text-center text-capitalize">{{item.key}}</h1>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person</mat-icon>
      Members
    </ng-template>
    <div class="row" style="padding-top: 30px;" *ngIf="userRole !== 'student'">
      <div class="col-md-12">
        <div class="row justify-content-start">
          <div class="col-md-2" *ngFor="let item of newUser">
            <div class="card text-center card-member ">
              <div class="row">
                <div class="col-md-12 text-center">
                  <img src="https://via.placeholder.com/100x100.png?text=Jagrik" class="rounded-circle img-member">
                  <h3>{{item.name}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- END -->
