# Adding Node Modules
node_modules

# Lock Files
package-lock.json
server/package-lock.json
client/package-lock.json

yarn.lock
server/yarn.lock
client/yarn.lock

# Uploads Local Folder
uploads

# Ignore .DS_Store
.DS_Store