<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <mat-nav-list>
          <mat-list-item class="parent" style="margin-bottom: 50px;">
            <img *ngIf="isExpanded || isShowing" src="assets/logo.png" style="max-width: 150px;">
          </mat-list-item>
        <mat-list-item class="parent"  [routerLink]="['/dashboard', 'inbox']">
          <span class="full-width" *ngIf="isExpanded || isShowing">Dashboard</span>
          <mat-icon mat-list-icon>dashboard</mat-icon>
        </mat-list-item>
        <mat-list-item class="parent"  [routerLink]="['/dashboard', 'tasks']">
          <span class="full-width" *ngIf="isExpanded || isShowing">Tasks Board</span>
          <mat-icon mat-list-icon>work_outline</mat-icon>
        </mat-list-item>
        <mat-list-item class="parent" [routerLink]="['/dashboard', 'classes', 'list']">
          <span class="full-width" *ngIf="isExpanded || isShowing">Classes</span>
          <mat-icon mat-list-icon>content_paste</mat-icon>
        </mat-list-item>
        <mat-list-item class="parent" [routerLink]="['/dashboard', 'team']">
          <span class="full-width" *ngIf="isExpanded || isShowing">Teams</span>
          <mat-icon mat-list-icon>group_work</mat-icon>
        </mat-list-item>
        <mat-list-item class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing">Help</span>
          <mat-icon mat-list-icon>help</mat-icon>
        </mat-list-item>
        <mat-list-item class="parent" [routerLink]="['/dashboard', 'resource-list']">
          <span class="full-width" *ngIf="isExpanded || isShowing">Resources</span>
          <mat-icon mat-list-icon>import_contacts</mat-icon>
        </mat-list-item>
         <mat-list-item *ngIf="userRole == 'facilitator'" class="parent" [routerLink]="['/dashboard', 'announcement']">
           <span class="full-width" *ngIf="isExpanded || isShowing">Announcement</span>
          <mat-icon mat-list-icon>notifications</mat-icon>
         </mat-list-item>
        <mat-list-item class="parent" (click)="signOut()" style="position: absolute;bottom: 10px;">
          <span class="full-width" *ngIf="isExpanded || isShowing">Logout</span>
          <mat-icon mat-list-icon>settings_power</mat-icon>
        </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <mat-toolbar  class="example-toolbar">
      <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="jk-spacer"></span>
      <button mat-button routerLink="/dashboard/user">Profile</button>
      <button mat-button [matMenuTriggerFor]="notify" (click)="getAnncouncementList()">
        <mat-icon>notifications</mat-icon>
      </button>
      <mat-menu #notify="matMenu">
        <button mat-menu-item *ngFor="let item of announcementData" class="menu-btn">
          <h4>{{item.title}} <small class="pull-right">{{item.created_on |  date:'shortDate'}}</small></h4>
          <p class="text-muted noti-p">{{item.description}}</p>
          <hr>
        </button>
      </mat-menu>
    </mat-toolbar>

  </div>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
