$bg: #fff;
$pink: #EE3769;
$blue: #03A9F4;
$dblue: #0288D1;
$grey: #c9c9c9;
$dgrey: #bbb;
$base: #CE4166;
$yellow: #fca311;

.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  user-select: none;
}

.full-width {
  width: 100%;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}

.submenu.expanded {
  transform: scaleY(1);
}
.mat-toolbar{
    top: 0;
    position: absolute;
    background: white;
    border-bottom: 1px solid;
    color: black;
}
.mat-drawer.mat-drawer-side{
  background: rgb(243, 179, 79);
}
.jk-spacer {
  flex: 1 1 auto;
}
.mat-drawer-container{
  background-color: white;
  color: black;
}
.full-width{
  padding-right: 40px;
}
.mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar{
  height: 45px;
}

