// @import "modules/dashboard/dashboard/dashboard-inbox/no-team/no-team.component.scss";
.row{
  padding: 0px 15px;
}
.pull-right{
  float: right;
  font: 400 15px/24px Roboto,
  "Helvetica Neue",
  sans-serif;
  letter-spacing: normal;
}
.medium-text{
  font-size: 13px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

th{
  color: #cc4266;
  text-align: center;
  justify-content: center;
}
td{
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
table.c {
  table-layout: auto;
  width: 100%;  
}

td.cell_action {
  display: flex;
  justify-content: center;
}
.level-one{
  color: #cc4266;
  text-align: center;
  justify-content: center;
}