<mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let clas of class; let index = index" [routerLink]="['/dashboard', 'classes', 'agenda']"
      [queryParams]="{ classId: clas }">
      <mat-card class="jk-card">
        <mat-card-header>
          <mat-card-title>Class</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quae ex molestias cum ducimus, aut
            quidem molestiae voluptatibus eos perferendis obcaecati! Aperiam, deserunt facere. Corrupti
            voluptatem perferendis impedit perspiciatis iure!
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
