.lower-card {

  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  width: inherit;
  height: inherit;
  border-radius: 40px;
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;


}

img {
  border-radius: 50%;
}

.upper-card {
  overflow-y: scroll;

  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  width: inherit;
  height: auto;
  border-radius: 40px;
  object-fit: cover;
  text-align: center;

}

.card {
  margin: 30px auto;
  border-radius: 40px;
  box-shadow: 1px 1px 10px 3px rgba(235, 235, 235, 0.25), -2px -2px 5px 7px rgba(182, 182, 182, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card:hover {
  box-shadow: 5px 5px 30px 15px rgba(95, 95, 95, 0.733),
    -2px -5px 5px 10px rgba(0, 0, 0, 0.22);
}

.pattern {
  height: 80px;
  width: 80px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1440px;
}


// CARD
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

$border-radius-size: 14px;
$barbarian: #fcb040;
$archer: #EE5487;
$giant: #F6901A;
$goblin: #82BB30;
$wizard: #4FACFF;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgba(140,122,122,1) 0%, rgba(175,135,124,1) 65%, rgba(175,135,124,1) 100%) fixed;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  &:focus {
    outline: 0;
  }
}



.clash-card {
  background: white;
  width: 275px;
  display: inline-block;
  // margin: auto;
  border-radius: $border-radius-size + 5;
  position: relative;
  text-align: center;
  // box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: #fcb040;
}
.clash-card__level--barbarian-pink {
  color: #cd4266;
}
.fd-yellow {
  background-color: #fcb040;
}
.fr-pink {
  background-color: #cd4266;
}
.clash-card__level--archer {
  color: $archer;
}

.clash-card__level--giant {
  color: $giant;
}

.clash-card__level--goblin {
  color: $goblin;
}

.clash-card__level--wizard {
  color: $wizard;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 0px 10px;
  margin-bottom: 10px;
}

.clash-card__unit-stats--barbarian-pink{
background: #cd4266;
.one-
 {
     border-right: 1px solid #cd4266;
  }
}
.clash-card__unit-stats--barbarian {
  background: #fcb040;

  .one-
 {
     border-right: 1px solid #fcb040;
  }
}

.clash-card__unit-stats--archer {
  background: $archer;

  .one-third {
     border-right: 1px solid #D04976;
  }
}

.clash-card__unit-stats--giant {
  background: $giant;

  .one-third {
     border-right: 1px solid darken($giant, 8%);
  }
}

.clash-card__unit-stats--goblin {
  background: $goblin;

  .one-third {
     border-right: 1px solid darken($goblin, 6%);
  }
}

.clash-card__unit-stats--wizard {
  background: $wizard;

  .one-third {
     border-right: 1px solid darken($wizard, 6%);
  }
}

.clash-card__unit-stats {

  color: white;
  font-weight: 700;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;

  .one-third {
    width: 50%;
    float: left;
    padding: 20px 15px;
  }

  sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
  }

  .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
  }
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}


.container-fluidx{
  .row-out{
    background-color: #cc4266;
    padding: 20px;
  }
}



.backdrop{
  height: 100vh !important;
}
