<section *ngIf="this.class" style="padding: 20px;">
  <div class="row" style="padding-top: 30px;">
    <div class="col-md-12">
      <div class="row justify-content-start">
        <ng-container *ngFor="let item of this.class.members">
          <ng-container *ngIf="item.role === 'student'">
            <div class="col-md-2"  style="margin: 4px;">
              <div  class="card text-center card-member">
                  <div class="card-header" style="background-color: #cd4266;padding: 20px;">
                  </div>
                <div class="row">
                  <div class="col-md-12 text-center" style="align-items: center" >
                    <img src="https://via.placeholder.com/100x100.png?text=Jagrik" class="rounded-circle img-member">
                    <h3 >{{item.first_name}}&nbsp; {{item.last_name}}</h3>
                    <!-- <h2>{{item.teams[0]._id}}</h2> -->
                    <h2 >{{item.caste_category}}</h2>
                  </div>
                </div>
              </div>
            </div>
          </ng-container> 
        </ng-container>
      </div>
    </div>
  </div>
</section>