@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,1200);

span {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    font-weight: 1200;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #CE4166;
}