@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,1200);

span {
    font-size: 12px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    font-weight: 1200;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
}
.card-dashboard{
    min-height: 400px;
    max-height: 580px;
    height: 100%;
}
.card-body{
    overflow: auto;

}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row-next{
    margin-top: 40px;
}

.row > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.card-heading, .card-heading h2 {
    color: #CE4166;
    margin-bottom: 20px;
    background-color: #cd4266;
    padding: 12px;
    text-align: center;
    margin: 0px;
}