<div class="row" *ngIf="userRole !== 'student'">
  <div *ngIf="!teamArrayExist && newUser.length === 0" class="col-md-12" style="max-height: 60vh;text-align: center;">
    <h4>No teams and team member found !</h4>
    <img style="margin-top:30px;max-height: 60vh;text-align: center;" src="assets/undraw_my_personal_files_8krs.svg">
  </div>
  <!-- <div class="col-md-4">
    <div class="row justify-content-center">
      <div class="col-md-6" *ngFor="let item of newUser">
        <div class="card text-center">
            <img src="https://via.placeholder.com/100x100.png?text=Jagrik" class="rounded-circle">
            <h3>{{item.name}}</h3>
          <div class="card-body">
           <button mat-raised-button color="primary"
             (click)="assignTeam(item._id)">Assign</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-md-12">
    <div class="row justify-content-start">
      <div class="col-md-2" *ngFor="let item of teamArray | keyvalue">
        <div class="card card-team">
          <div class="row">
            <div class="col-md-6 text-center" *ngFor="let item1 of item.value">
               <img src="{{item1.user_profile_pic}}" class="rounded-circle">
               <h3>{{item1.name}}</h3>
            </div>
          </div>
          <div class="card-body">
            <h1 class="card-text text-center text-capitalize">{{item.key}}</h1>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br><br>

<mat-accordion *ngIf="userRole !== 'student' && teamArrayExist && newUser.length !== 0">
<mat-expansion-panel style="background-color: gainsboro;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Un Assigned Members
      </mat-panel-title>
      <!-- <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div class="row" style="padding-top: 30px;" *ngIf="userRole !== 'student'">
      <div class="col-md-12">
        <div class="row justify-content-start">
          <div class="col-md-2" *ngFor="let item of newUser">
            <div class="card text-center card-member ">
            <div class="row">
              <div class="col-md-12 text-center">
                 <img src="https://via.placeholder.com/100x100.png?text=Jagrik" class="rounded-circle img-member">
                 <h3>{{item.name}}</h3>
              </div>
            </div>
              <div class="card-body">
               <button mat-raised-button color="primary"
                 (click)="assignTeam(item._id)">Assign</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </mat-expansion-panel>
</mat-accordion>
<!-- <div class="row" *ngIf="userRole !== 'student'">
<div class="col-md-12">
  <div class="row justify-content-start">
    <div class="col-md-2" *ngFor="let item of newUser">
      <div class="card text-center card-member ">
      <div class="row">
        <div class="col-md-12 text-center">
           <img src="https://via.placeholder.com/100x100.png?text=Jagrik" class="rounded-circle img-member">
           <h3>{{item.name}}</h3>
        </div>
      </div>
        <div class="card-body">
         <button mat-raised-button color="primary"
           (click)="assignTeam(item._id)">Assign</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->
<div class="row" *ngIf="userRole == 'student'">
  <p class="pl-3">You have not access of this page!</p>
</div>
