<div class="row" *ngIf="isOpen">
  <div  class="col-md-12" style="max-height: 60vh;text-align: center;">
    <h4>Please freeze your cohort members, then visit again !</h4>
    <img style="margin-top:30px;max-height: 60vh;text-align: center;" src="assets/undraw_my_personal_files_8krs.svg">
  </div>
</div>
<div class="row" *ngIf="!isOpen">
  <div *ngIf="!teamArrayExist && newUser.length === 0" class="col-md-12" style="max-height: 60vh;text-align: center;">
    <h4>No teams and team member found !</h4>
    <img style="margin-top:30px;max-height: 60vh;text-align: center;" src="assets/undraw_my_personal_files_8krs.svg">
  </div>
</div>
<br><br>

<ng-container *ngIf="!isOpen">
<div class="row" *ngIf="userRole !== 'student'">
  <div class="col-md-3">
     <h2> Members Without a Team</h2>
  </div>
  <div class="col-md-9">
    <h2 *ngIf="!teamArrayExist" style="text-align: center;">No teams currently!</h2>
    <h2 *ngIf="teamArrayExist">Current Teams</h2>
  </div>
    <div class="col-md-3">
      <div class="row justify-content-start r-panel" *ngFor="let item of newUser" style="    border: 1px solid #dedede;
      padding: 5px;">
        <div class="col-md-9" style="justify-content: center;">
          <h3 style="line-height: 1; margin: 0px !important;">{{item.name}}</h3>
        </div>
        <div class="col-md-3">
          <button mat-raised-button color="primary" (click)="assignTeam(item._id)">Assign</button>
        </div>

        </div>
      </div>
  <div class="col-md-9">
    <div class="row justify-content-start">
      <div class="col-md-2" *ngFor="let item of teamArray | keyvalue"
        [routerLink]="['/dashboard','team-profile', item.value[0].team_id]">
        <div class="card card-team">
          <div class="row">
            <div class="col-md-6 text-center center-it" *ngFor="let item1 of item.value">
               <img src="{{item1.user_profile_pic}}" class="rounded-circle">
               <h5>{{item1.name}}</h5>
            </div>
          </div>
          <div class="card-body">
            <h1 class="card-text text-center text-capitalize">{{item.key}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>
