<div class="row" >
   <div class="col-md-12 text-right" *ngIf="userRole !== 'student'">
     <section>
       <div class="jk-button-row pb-4">

         <button mat-raised-button color="primary" (click)="openDialog('new')">Add New Resource</button>

       </div>
     </section>
   </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://via.placeholder.com/286x180.png?text=Jagrik" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
          <a href="#" class="card-link btn btn-primary btn-sm">View</a>
          <a href="#" class="card-link btn-sm  btn btn-primary pull-right">Download</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://via.placeholder.com/286x180.png?text=Jagrik" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link btn btn-primary btn-sm">View</a>
        <a href="#" class="card-link btn-sm  btn btn-primary pull-right">Download</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://via.placeholder.com/286x180.png?text=Jagrik" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link btn btn-primary btn-sm">View</a>
        <a href="#" class="card-link btn-sm  btn btn-primary pull-right">Download</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://via.placeholder.com/286x180.png?text=Jagrik" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link btn btn-primary btn-sm">View</a>
        <a href="#" class="card-link btn-sm  btn btn-primary pull-right">Download</a>
      </div>
    </div>
  </div>
</div>

