@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,800);

::ng-deep {
    .mat-drawer-content {
      position: relative;
      z-index: 1;
      display: block;
      height: 100%;
      overflow: auto;
      background-image: url('/assets/card_board.jpeg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0;
        margin-left: 0;
        top: 65px;
    }
    .container {
        width:  100vw;
        padding-right: 0px; 
        padding-left: 0px;
        margin-right: 0;
        margin-left: 0; 
    }
    
  }

h2{
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}

.choose-theme{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

img{
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 25px;
}
.card-left{
    display: flex;
    align-items: flex-end;
}
.theme-card_1{
    background-image: url('/assets/Card1.png');
}
.theme-card_2{
    background-image: url('/assets/Dots.png');
}

.theme-card{
    background-color: #CE4166;
    max-width: 370px;
    min-width: 370px;
    color: white;
    border-radius: 3%;
    min-height: 100px;
    padding: 20px;
    margin: 5px;
    height: 100%;
    overflow: visible;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card-FR{
    background-color: #CE4166;
    background-image: url('/assets/Dots.png');
}
.card-FD{
    background-color: #f3b54e;
    background-image: url('/assets/Dots.png');
}
.container-FR{
    background-color: #CE4166;
    height: 500px;
}
.container-FD{
    background-color: #f3b54e;
    height: 500px;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    border: 1px solid #f1f1f1;
    max-width: 370px;
    min-width: 370px;
    min-height: 100px;
    color: white;
    border-radius: 3%;
    min-height: 100px;
    margin: 5px;
    height: 100%;
    overflow: visible;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 3%;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #CE4166;
    color: black;
}

  
  /* Style the back side */
  .flip-card-back {
    background-color: #CE4166;
    color: white;
    transform: rotateY(180deg);
  }

  #hideMe {
    -webkit-animation: cssAnimation 0.5s forwards; 
    animation: cssAnimation 0.5s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 0;}
    99%  {opacity: 0;}
    100% {opacity: 1;}
}
#hideMex {
    -webkit-animation: cssAnimationx 2s forwards; 
    animation: cssAnimationx 2s forwards;
}
@keyframes cssAnimationx {
    0%   {opacity: 0;}
    99%  {opacity: 0;}
    100% {opacity: 1;}
}
#hideMeDice {
    -webkit-animation: cssAnimationdice 4s forwards; 
    animation: cssAnimationdice 4s forwards;
}
@keyframes cssAnimationdice {
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    96%  {opacity: 0.5;}
    100% {opacity: 1;}
}
.w3-animate-right{
    animation-delay: 2s;
}

.btn-dice_yellow{
    background-image: url('/assets/yellow_dice_6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 218px 218px;
    width: 120px;
    height: 120px;
    background-color: #f3b54e;
    border-radius: 17%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-dice_pink{
    background-image: url('/assets/pink_dice_6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 218px 218px;
    width: 120px;
    height: 120px;
    background-color: #cd4266;
    border-radius: 17%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.tracking-in-contract{animation:tracking-in-contract .8s cubic-bezier(.215,.61,.355,1.000) both}

@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}


.bounce-in-top{
  animation:bounce-in-top 1.1s 2s both
}

@keyframes bounce-in-top{0%{transform:translateY(-500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(-65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(-28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(-8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}
