
<img *ngIf="!showChooseTheme" class="d-flex justify-content-center" src="assets/undraw_team_goals.svg">


<h2 class="d-flex justify-content-center mb-4 mt-4" *ngIf="showChooseTheme">Choose a theme for your card</h2>

<div class="choose-theme">
    <button *ngIf="!showChooseTheme" class="btn btn-primary btn-lg" (click)="showChooseTheme = true">Assign Card</button>

    <button *ngIf="showChooseTheme" class="btn btn-primary btn-md" (click)="this.theme = 'fundamental rights'" (click)="this.assignCard()">Fundamental Rights</button>
    <button *ngIf="showChooseTheme" class="btn btn-primary btn-md" (click)="this.theme = 'fundamental duties'" (click)="this.assignCard()">Fundamental Duties</button>
</div>

<div class="d-flex justify-content-center" *ngIf="showChooseTheme" (click)="showChooseTheme = false">
    <button class="btn btn-danger btn-sm">Cancel</button>
</div>