
<!-- <img *ngIf="!showChooseTheme" class="d-flex justify-content-center" src="assets/undraw_team_goals.svg"> -->


<h2 class="d-flex justify-content-center mb-4 mt-4" *ngIf="!showChooseTheme">Choose a theme for your card</h2>
<div class="row" *ngIf="!showChooseTheme" style="height: 400px;">
    <div class="col-md-6 card-left">
        <!-- <div class="flip-card-inner">
            <div class="theme-card card-FR flip-card-front" *ngIf="!showChooseTheme && showAssignCard" (click)="this.theme = 'fundamental rights'" (click)="showChooseTheme = true" >
                <img src="assets/text1.png" alt="">
             </div>
             <div class="flip-card-back">
                 Hello
             </div>
        </div> -->
        <div class="flip-card ">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/text1.png" alt="">
              </div>
              <div class="flip-card-back">
                <button class="btn btn-primary btn-md"  (click)="this.assignCard()">Fundamental Rights</button>
              </div>
            </div>
          </div>
        
    </div>
    <div class="col-md-6" >
        <div class="theme-card card-FD" *ngIf="!showChooseTheme && showAssignCard" (click)="this.theme = 'fundamental duties'" (click)="showChooseTheme = true">
            <img src="assets/text2.png" alt="">
        </div>
    </div>
</div>


<div class="container" *ngIf="showChooseTheme && theme == 'fundamental rights'">
    <div class="container-FR" style="width: 100vw;">
        <!-- <img src="assets/text1.png" alt=""> -->
        <h1>FUNDAMENTAL</h1>
        <h2>RIGHTS</h2>
    </div>
    <button class="btn btn-primary btn-md"  (click)="this.assignCard()">Fundamental Rights</button>

</div>
<div class="container" *ngIf="showChooseTheme && theme == 'fundamental duties'">
    <div class="container-FD" style="width: 100%;">
        <img src="assets/text2.png" alt="">
    </div>
    <button class="btn btn-primary btn-md"  (click)="this.assignCard()">Fundamental Duties</button>

</div>

<div class="choose-theme">
    <!-- <button *ngIf="!showChooseTheme && showAssignCard" class="btn btn-primary btn-lg" (click)="showChooseTheme = true">Assign Card</button> -->

    <p *ngIf="!showAssignCard">You've assigned a new card to your team - your feed will update very soon!</p>

    <button *ngIf="showChooseTheme && theme == 'fundamental rights'" class="btn btn-primary btn-md"  (click)="this.assignCard()">Fundamental Rights</button>
    <button *ngIf="showChooseTheme && theme == 'fundamental duties'" class="btn btn-primary btn-md"  (click)="this.assignCard()">Fundamental Duties</button>
</div>

<div class="d-flex justify-content-center" *ngIf="showChooseTheme" (click)="showChooseTheme = false">
    <button class="btn btn-danger btn-sm">Cancel</button>
</div>
