<section *ngIf="isdash == false">
  <div class="example-button-row">
    <button mat-raised-button color="{{checkColor('Agenda')}}"
      [routerLink]="['/dashboard', 'classes', 'agenda']"
      [queryParams]="{ classId: classId }">Agenda</button>
    <button mat-raised-button color="{{checkColor('Members')}}" [routerLink]="['/dashboard', 'classes', 'members']"
      [queryParams]="{ classId: classId }">Members</button>
    <button *ngIf="isOpen" mat-raised-button :color="{{checkColor('Invite')}}"
      [routerLink]="['/dashboard', 'classes', 'invite']"
      [queryParams]="{ classId: classId }">Invite Users</button>
<button *ngIf="userRole == 'facilitator'" mat-raised-button :color="{{checkColor('Invite')}}" style="float: right;"
  (click)="closeClass()">Freeze Class</button>
  </div>

</section>
<section *ngIf="isdash == true">
  <button *ngIf="userRole == 'facilitator'" mat-raised-button style="float: right; background-color: #cd4266; color: white;"
  (click)="closeClass()">Freeze Class</button>
</section>
<router-outlet></router-outlet>
