<ul class="nav justify-content-center">
    <li class="nav-item">
        <button class="button button-nav font-weight-bold">Agenda</button>
    </li>
    <li class="nav-item">
        <button class="button button-nav font-weight-bold">Members</button>
    </li>
    <li class="nav-item">
        <button class="button button-nav font-weight-bold" (click)="showInviteStudents = !showInviteStudents">Invite Students</button>
    </li>
  </ul>

  <app-invite-students *ngIf="showInviteStudents == true"></app-invite-students>