
      <div class="blog-card">
        <ng-container *ngFor="let number of [1,2,3]; let i= index">

        <input *ngIf="i ==0" type="radio" name="select" id="tap-{{number}}" checked>
        <input *ngIf="i !=0" type="radio" name="select" id="tap-{{number}}" >
      </ng-container>
        <!-- <input type="radio" name="select" id="tap-2">
        <input type="radio" name="select" id="tap-3"> -->
        <input type="checkbox" id="imgTap">
        <div class="sliders" >
          <ng-container *ngFor="let numberx of [1,2,3]">
          <label for="tap-{{numberx}}" class="tap tap-2"></label>
         </ng-container>
          <!-- <label for="tap-2" class="tap tap-2"></label>
          <label for="tap-3" class="tap tap-3"></label> -->
        </div>
  <div class="inner-part">
          <label for="imgTap" class="img">
            <img class="img-1" src="#">
          </label>
          <div class="content content-1">
            <span>26 December 2017</span>
            <div class="title">
  Lorem Ipsum Dolor</div>
  <div class="text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo animi atque aliquid pariatur voluptatem numquam, quisquam. Neque est voluptates doloribus!</div>
  <button>Read more</button>
          </div>
  </div>
  <div class="inner-part">
          <label for="imgTap" class="img">
            <img class="img-2" src="#">
          </label>
          <div class="content content-2">
            <span>26 December 2018</span>
            <div class="title">
  Lorem Ipsum Dolor</div>
  <div class="text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos ut consectetur numquam ullam fuga animi laudantium nobis rem molestias.</div>
  <button>Read more</button>
          </div>
  </div>
  <div class="inner-part">
          <label for="imgTap" class="img">
            <img class="img-3" src="#">
          </label>
          <div class="content content-3">
            <span>26 December 2019</span>
            <div class="title">
  Lorem Ipsum Dolor</div>
  <div class="text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi nemo commodi sint eum ipsam odit atque aliquam officia impedit.</div>
  <button>Read more</button>
          </div>
  </div>
  </div>