<mat-grid-list cols="4" *ngIf="data && userData">
  <mat-grid-tile>
    <mat-card [style.background]="'rgb(243, 179, 79)'">
      <mat-card-header>
        <mat-card-title> Card</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="text-capitalize"><b>Theme: </b>{{data?.card?.theme}}</p>
        <p class="text-capitalize"><b>Description: </b>{{data?.card?.description}}</p>
        <p class="text-capitalize"><b>Dice Number: </b>{{data?.card?.dice_number}}</p>
        <p class="text-capitalize"><b>Week: </b>{{userData?.tasks[userData?.tasks?.length-1]?.week}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [style.background]="'rgb(243, 179, 79)'">
      <mat-card-header>
        <mat-card-title>Team Status</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="text-capitalize"><b>Tasks Status: </b>Dummy Data</p>
        <p class="text-capitalize"><b>Team Comments: </b>Dummy Data</p>
        <p class="text-capitalize"><b>ETA: </b>Dummy Data</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [style.background]="'rgb(243, 179, 79)'">
      <mat-card-header>
        <mat-card-title>Leaderboard</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="text-capitalize"><b>Team Name: </b>Dummy Data</p>
        <p class="text-capitalize"><b>Maximum Points: </b>Dummy Data</p>
        <p class="text-capitalize"><b>Dice Number: </b>Dummy Data</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [style.background]="'rgb(243, 179, 79)'">
      <mat-card-header>
        <mat-card-title>Reviews</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quae ex molestias cum ducimus, aut
          quidem molestiae voluptatibus eos perferendis obcaecati!
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


<!-- Task List -->

<div class="row">
<div class="col-6" style="border: 1px solid #cd4266;">
<div class="row justify-content-center" style="text-align: center; background-color: #cd4266;">
  <p style="color: white;"><b>Community Tasks</b></p></div>
<mat-tab-group style="width: 100%; display: flex; align-items: center;">
  <mat-tab label='GOLD' style="background-color: goldenrod;">
  <ng-container *ngFor="let task of this.data.tasks" >
    <ng-container *ngIf="task.category == 'community' && task?.type== 'gold'">
    <div class="row">
    <div class="col-2 text-capitalize" >{{ task?.title }}</div>
    <div class="col-6 text-capitalize">{{ task?.description }}</div>
    <div class="col-1 text-capitalize">{{ task?.points }}</div>
    <div class="col-1 text-capitalize">{{ task?.type }}</div>
    </div>
    <br>
    </ng-container>
  </ng-container>
  </mat-tab>

  <mat-tab label='SILVER' style="background-color: silver;">
    <ng-container *ngFor="let task of this.data.tasks" >
      <ng-container *ngIf="task.category == 'community' && task?.type== 'silver'">
      <div class="row">
      <div class="col-2 text-capitalize" >{{ task?.title }}</div>
      <div class="col-6 text-capitalize">{{ task?.description }}</div>
      <div class="col-1 text-capitalize">{{ task?.points }}</div>
      <div class="col-1 text-capitalize">{{ task?.type }}</div>
      </div>
      <br>
      </ng-container>
    </ng-container>

  </mat-tab>


  <mat-tab label='BRONZE' style="background-color: bronze !important;">
    <ng-container *ngFor="let task of this.data.tasks" >
      <ng-container *ngIf="task.category == 'community' && task?.type== 'bronze'">
      <div class="row">
      <div class="col-2 text-capitalize" >{{ task?.title }}</div>
      <div class="col-6 text-capitalize">{{ task?.description }}</div>
      <div class="col-1 text-capitalize">{{ task?.points }}</div>
      <div class="col-1 text-capitalize">{{ task?.type }}</div>
      </div>
      <br>
      </ng-container>
    </ng-container>
  </mat-tab>

</mat-tab-group>

</div>

<div class="col-6" style="border: 1px solid #cd4266;">
  <div class="row justify-content-center" style="text-align: center; background-color: #cd4266;">
    <p style="color: white;"><b>Self Tasks</b></p></div>
  <mat-tab-group style="width: 100%; display: flex; align-items: center;" >
    <mat-tab label='GOLD' style="background-color: goldenrod;" class="custom-tab-gold">
    <ng-container *ngFor="let task of this.data.tasks" >
      <ng-container *ngIf="task.category == 'self' && task?.type== 'gold'">
      <div class="row">
      <div class="col-2 text-capitalize" >{{ task?.title }}</div>
      <div class="col-6 text-capitalize">{{ task?.description }}</div>
      <div class="col-1 text-capitalize">{{ task?.type }}</div>
      </div>
      <br>
      </ng-container>
    </ng-container>
    </mat-tab>
  
    <mat-tab label='SILVER' style="background-color: silver;">
      <ng-container *ngFor="let task of this.data.tasks" >
        <ng-container *ngIf="task.category == 'self' && task?.type== 'silver'">
        <div class="row">
        <div class="col-2 text-capitalize" >{{ task?.title }}</div>
        <div class="col-6 text-capitalize">{{ task?.description }}</div>
        <div class="col-1 text-capitalize">{{ task?.type }}</div>
        
        </div>
        <br>
        </ng-container>
      </ng-container>
  
    </mat-tab>
  
  
    <mat-tab label='BRONZE' style="background-color: bronze !important;">
      <ng-container *ngFor="let task of this.data.tasks" >
        <ng-container *ngIf="task.category == 'self' && task?.type== 'bronze'">
        <div class="row">
        <div class="col-2 text-capitalize" >{{ task?.title }}</div>
        <div class="col-6 text-capitalize">{{ task?.description }}</div>
        <div class="col-1 text-capitalize">{{ task?.type }}</div>
        </div>
        <br>
        </ng-container>
      </ng-container>
    </mat-tab>
  
  </mat-tab-group>
  
  </div>
