<mat-grid-list cols="4" *ngIf="data && userData">
  <mat-grid-tile>
    <mat-card [style.background]="'rgb(243, 179, 79)'">
      <mat-card-header>
        <mat-card-title> Card</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="text-capitalize"><b>Theme: </b>{{data?.card?.theme}}</p>
        <p class="text-capitalize"><b>Description: </b>{{data?.card?.description}}</p>
        <p class="text-capitalize"><b>Dice Number: </b>{{data?.card?.dice_number}}</p>
        <p class="text-capitalize"><b>Week: </b>{{userData?.tasks[userData?.tasks?.length-1]?.week}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [style.border]="'solid 1px #cc4266'">
      <mat-card-header>
        <mat-card-title>Task Status</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="text-capitalize"><b>Team Task Status: </b>{{taskStatus?.teamTask}}</p>
        <p class="text-capitalize" *ngFor="let item of taskStatus?.teamMembers"><b>{{item.user_name}} Status:
          </b>{{item.user_individual_task_status == false ? 'To Do' : 'complete'}}</p>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- <mat-grid-tile>
    <mat-card [style.background]="'rgb(243, 179, 79)'">
      <mat-card-header>
        <mat-card-title>Leaderboard</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="text-capitalize"><b>Team Name: </b>Dummy Data</p>
        <p class="text-capitalize"><b>Maximum Points: </b>Dummy Data</p>
        <p class="text-capitalize"><b>Dice Number: </b>Dummy Data</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [style.background]="'rgb(243, 179, 79)'">
      <mat-card-header>
        <mat-card-title>Reviews</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quae ex molestias cum ducimus, aut
          quidem molestiae voluptatibus eos perferendis obcaecati!
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile> -->
</mat-grid-list>


<!-- Task List -->

<div class="row">
<div class="col-6" style="display: block; justify-content: center;">
<div class="justify-content-center" style="text-align: center; background-color: #cd4266;padding: 10px; width: 100%;">
  <p style="color: white;"><b>Community Tasks</b></p></div>

  <!-- TABS COM -->
<mat-tab-group style="width: 100%; display: flex; align-items: center ;min-height: 350px; justify-content: center;" >
  <mat-tab  class="gold task-level">
   <ng-template mat-tab-label>
                <span [ngClass]="'gold task-level'"></span>
   </ng-template>
  <ng-container *ngFor="let task of this.data.tasks" >
    <div *ngIf="task.category == 'community' && task?.type== 'gold'"  style="border: 1px solid; padding: 5px;margin: 8px;">
      <div class="row">
        <div class="col-12 text-capitalize" >Description:{{ task?.description }}</div>
      </div><br>
      <div class="row">
        <div class="col-6 text-capitalize" style="display: flex; justify-content: center; align-items: center;">Points: {{ task?.points }}</div>
         <div *ngIf="taskStatus?.teamTask  !== 'complete'" class="col-6 text-capitalize"><button mat-raised-button
             style="color: #cd4266;"
             (click)="openDialog(task)">UPLOAD</button></div>
      </div>
    </div>
  </ng-container>
  </mat-tab>

  <mat-tab  class="task-level">
    <ng-template mat-tab-label>
      <span [ngClass]="'silver task-level'"></span>
    </ng-template>
    <ng-container *ngFor="let task of this.data.tasks" >
      <div *ngIf="task.category == 'community' && task?.type== 'silver'"  style="border: 1px solid; padding: 5px;margin: 8px;">
        <div class="row">
          <div class="col-12 text-capitalize" >Description:{{ task?.description }}</div>
        </div><br>
        <div class="row">
          <div class="col-6 text-capitalize" style="display: flex; justify-content: center; align-items: center;">Points: {{ task?.points }}</div>
           <div *ngIf="taskStatus?.teamTask  !== 'complete'" class="col-6 text-capitalize"><button mat-raised-button
               style="color: #cd4266;"
               (click)="openDialog(task)">UPLOAD</button></div>
        </div>
      </div>
    </ng-container>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <span [ngClass]="'bronze task-level'"></span>
    </ng-template>
    <ng-container *ngFor="let task of this.data.tasks" >
      <div *ngIf="task.category == 'community' && task?.type== 'bronze'"  style="border: 1px solid; padding: 5px; margin: 8px;">
        <div class="row">
          <div class="col-12 text-capitalize" >Description:{{ task?.description }}</div>
        </div><br>
        <div class="row">
          <div class="col-6 text-capitalize" style="display: flex; justify-content: center; align-items: center;">Points: {{ task?.points }}</div>
           <div *ngIf="taskStatus?.teamTask !== 'complete'" class="col-6 text-capitalize"><button mat-raised-button
               style="color: #cd4266;"
               (click)="openDialog(task)">UPLOAD</button></div>
        </div>
      </div>
    </ng-container>
  </mat-tab>

</mat-tab-group>

</div>


 <!-- SELF TASKS -->
<div class="col-6">
  <div class="justify-content-center" style="text-align: center; background-color: #cd4266;padding: 10px; width: 100%;">
    <p style="color: white;"><b>Self Tasks</b></p></div>

    <!-- TABS SELF -->
 <mat-tab-group style="width: 100%; display: flex; align-items: center;" >
  <mat-tab  >
    <ng-template mat-tab-label>
      <span [ngClass]="'gold task-level'"></span>
    </ng-template>
    <ng-container *ngFor="let task of this.data.tasks" >
      <div *ngIf="task.category == 'self' && task?.type== 'gold'"  style="border: 1px solid; padding: 5px; margin: 8px;">
        <div class="row">
          <div class="col-12 text-capitalize" >Description:{{ task?.description }}</div>
        </div><br>
        <div class="row">
          <div class="col-6 text-capitalize" style="display: flex; justify-content: center; align-items: center;">Type: {{ task?.type }}</div>
         <div class="col-6 text-capitalize"><button mat-raised-button style="color: #cd4266;"
             (click)="openDialog(task)">UPLOAD</button></div>
        </div>
      </div>
    </ng-container>
  </mat-tab>

    <mat-tab >
      <ng-template mat-tab-label>
        <span [ngClass]="'silver task-level'"></span>
      </ng-template>
      <ng-container *ngFor="let task of this.data.tasks" >
        <div *ngIf="task.category == 'self' && task?.type== 'silver'"  style="border: 1px solid; padding: 5px; margin: 8px;">
          <div class="row">
            <div class="col-12 text-capitalize" >Description:{{ task?.description }}</div>
          </div><br>
          <div class="row">
            <div class="col-6 text-capitalize" style="display: flex; justify-content: center; align-items: center;">Type: {{ task?.type }}</div>
             <div class="col-6 text-capitalize"><button mat-raised-button style="color: #cd4266;"
                 (click)="openDialog(task)">UPLOAD</button></div>
          </div>
        </div>
      </ng-container>

    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <span [ngClass]="'bronze task-level'"></span>
      </ng-template>
      <ng-container *ngFor="let task of this.data.tasks" >
        <div *ngIf="task.category == 'self' && task?.type== 'bronze'"  style="border: 1px solid; padding: 5px; margin: 8px;">
          <div class="row">
            <div class="col-12 text-capitalize" >Description:{{ task?.description }}</div>
          </div><br>
          <div class="row">
            <div class="col-6 text-capitalize" style="display: flex; justify-content: center; align-items: center;">Type: {{ task?.type }}</div>
            <div class="col-6 text-capitalize"><button mat-raised-button style="color: #cd4266;"
                (click)="openDialog(task)">UPLOAD</button></div>
          </div>
        </div>
      </ng-container>
    </mat-tab>

  </mat-tab-group>

  </div>
