<body>
<section id="hero" class="">
    <br>
 <div class="row">
    <div class="col-lg-3 offset-lg-2">
        <div style="background-color: white;">
        <div class="flex-wrap">
            <fieldset>
             
                <input type="radio" name="rg" id="sign-in" checked />
                <input type="radio" name="rg" id="sign-up" />

                <label for="sign-in">Sign In</label>
                <label for="sign-up">Sign Up</label>
                
                <input
                  class="sign-in reset"
                  type="email"
                  placeholder="Email"
                />
                <input
                  class="sign-in"
                  type="password"
                  placeholder="Password"
                />
                
                <button class="button-standard">Submit</button>
                <button class="button-student"></button>
                <button class="button-facilitator"></button>
                <div class="sign-inbc"> Forgot Password?</div>
            </fieldset> 
            <!-- <div class="sign-inbc"> Forgot Password?</div> -->
          </div>
    </div>
</div>
<div class="col-lg-7" >
    <img src="assets/landing-2.png" class="img-fluid" alt="">
</div>
</div> 

    <!-- <div class="container">
        <h1>Welcome to Jagrik</h1>

        <div class="form">
            <button type="submit" routerLink="/authentication/sign-up">Create your account</button>

            <button type="submit" routerLink="/authentication/sign-in">Login to existing one</button>
        </div>
    </div> -->

</section>
</body>