<section id="hero" class="">
    <div style="z-index: 10;" class="row logo-home"><img src="assets/logo.png" style="max-width: 250px;max-height: 100px;"></div>
    <div class="row box-asset">
        <div class="col-lg-3 offset-lg-2">
            <div class="login-box">
                <div class="flex-wrap">
                    <fieldset>

                        <input type="radio" name="rg" id="sign-in" checked />
                        <input type="radio" name="rg" id="sign-up" />

                        <label for="sign-in" (click)="routerState = 'sign-in'">Sign In</label>
                        <label for="sign-up" (click)="routerState = 'sign-up'">Sign Up</label>

                        <!-- SignIn Component -->
                        <app-signin *ngIf="routerState == 'sign-in'"></app-signin>
                        <!-- SignIn Component -->

                        <!-- <button class="button-standard">Submit</button> -->

                        <!-- Route to Signup components -->
                        <button class="button-student" routerLink="/authentication/sign-up"
                            [queryParams]="{ role: 'student' }"></button>
                        <button class="button-facilitator" routerLink="/authentication/sign-up"></button>
                        <!-- Route to Signup components -->

                        <div *ngIf="routerState == 'sign-in'" class="forgot-password"
                            (click)="openResetPasswordModal()"> Forgot Password?</div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-lg-6 landing-image">
            <img src="assets/landing-2.png" class="img-fluid" alt="">
        </div>
    </div>
</section>