<!-- <div *ngIf="this.role != 'student'" class="container" style="margin-top: 5%;">

    <h2>Join New Class</h2>

    <form class="form" [formGroup]="joinClassForm" class="form" (ngSubmit)="onSubmit()">
        <input class="form-control" type="text" required placeholder="Please provide the unique class code to join..."
            formControlName="class_code">
        <button class="button mt-3" [disabled]="!joinClassForm.valid" type="submit">Join</button>
    </form>
</div> -->


<div class="join-class" data-notify="container">
    <i class="material-icons" data-notify="icon" style="background-color: white; color: black; margin-right: 10px; border-radius: 50%;">add</i>
    <span data-notify="message"><b>Join New Class</b></span><br><br>
    <form class="form" [formGroup]="joinClassForm" class="form" (ngSubmit)="onSubmit()">
        <input class="form-control" type="text" required placeholder="Please provide the unique class code to join..."
            formControlName="class_code">
        <button class="button mt-3" [disabled]="!joinClassForm.valid" type="submit">Join</button>
    </form>

    <!-- <span data-notify="message" style="font-size: 10px;">Click to create your first class.</span> -->
</div>
