@import 'modules/dashboard/dashboard/dashboard-header/dashboard-header.component.scss';

.join-class{
    background-color: #CE4166;
    max-width: 240px;
    color: white;
    border-radius: 3%;
    min-height: 100px;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
  }