
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

$prim: #CE4166;

::-webkit-input-placeholder { /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
     opacity:  1;
    font-weight: 300;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
     opacity:  1;
    font-weight: 300;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.form{
	padding: 20px 0;
	position: relative;
	// z-index: 2;
	
	input{
		display: block;
		appearance: none;
		outline: 0;
        border: 1px solid white;
        border-radius: 3;
        border: 0;
        background-color: white;
        opacity: 0.9;
        background: transparent;

		width: 350px;
		
		border-radius: 3px;
		padding: 10px 15px;
		margin: 0 auto 10px auto;
		display: block;
		text-align: center;
		font-size: 18px;
		
		color: $prim;
		
		font-weight: 300;
		
		&:hover{
            // background-color:white;
            color: $prim;
            opacity: 0.8;
		}
	
	}
	
	button{
        display: block;
		appearance: none;
		outline: 0;
		background-color: white;
		border: 0;
		padding: 10px 15px;
		color: $prim;
		border-radius: 7px;
		width: 250px;
		cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        margin: 0 auto 10px auto;
	}
}