<div class="body-container">

    <div class="row">
        <div class="back" (click) = "backClicked()">
            <i class="material-icons">
                    arrow_back_ios
            </i>
        </div>
    </div>
    
        <div class="container">
            <h1>Welcome to Jagrik</h1>

            <div class="form">
                <input type="email" placeholder="Your Email">
                <input type="password" placeholder="Your Password">
                <button type="submit">Login to Dashboard</button>
            </div>
        </div>

</div>