<h2 class="heading text-uppercase">Task Response</h2>
 <mat-dialog-content class="mat-typography">
   <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <strong class="text-uppercase">{{data?.task?.status}}</strong></h4>
          <p>{{data?.task?.reason}}</p>
        </div>
      </div>
    </div>
     <div class="col-md-12 mb-3">
       <div class="card">
         <div class="card-body">
           <h4 class="card-title">
             <strong>{{data?.task?.user_name ? data?.task?.user_name : data?.task?.team_name}}</strong></h4>
           <p>{{data?.task?.task_description}}</p>
         </div>
         <div class="card-horizontal">
           <div class="img-square-wrapper">
             <img class="img-thumbnail" src="data:image/png;base64,{{data?.task?.supporting_doc}}"
               alt="Card image cap">
           </div>
           <div class="card-body">
             <p class="card-text">{{data?.task?.description}}</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </mat-dialog-content>
 <mat-dialog-actions align="end">
   <button mat-button mat-dialog-close>Cancel</button>
 </mat-dialog-actions>
