<div class="row">

  <div class="col-md-12">
    <h1 class="justify-content-center text-uppercase text-center tracking-in-expand-fwd"><b>Previous Task</b></h1>
    <h3 class="justify-content-center text-uppercase text-center tracking-in-expand-fwd">All Previous Tasks</h3>
  </div>
</div>


<div id="timeline">
  
<div *ngFor="let item of taskData; index as i; even as isEven; odd as isOdd">

  <div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day"></span>
        <span class="timeline-balloon-date-month"></span>
    </div>
  
  
    <div class="col-sm-6  timeline-item" *ngIf="isEven">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                      <li><span class="causale">{{item.task_description}} </span> </li>
                      <hr>
                      <span style="font-weight: bold;" class="text-muted" style="margin-right:500px;">{{item.type}}</span>
                      <button mat-raised-button class="pull-right text-uppercase" (click)="openResponseViewDialog(item)"
                        color="accent">Details</button>    
                    </ul>
                </div>
  
            </div>
        </div>
    </div>
  
    
  </div>
  
  <!--due -->
  
  <div class="row timeline-movement">
  
  
    <div class="timeline-badge">
        <span class="timeline-balloon-date-day"></span>
        <span class="timeline-balloon-date-month"></span>
    </div>
  
    <div class="offset-md-7 col-md-5  timeline-item" *ngIf="isOdd">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="causale">{{item.task_description}} </span> </li>
                        <hr>
                        <span style="font-weight: bold;" class="text-muted">{{item.type}}</span>
                        <button mat-raised-button class="pull-right text-uppercase" (click)="openResponseViewDialog(item)"
                          color="accent">Details</button>            
                                </ul>
                </div>
  
            </div>
        </div>
    </div>
  
   
  
  </div>
 
  
    
  </div>
  
</div>
