<div class="row">

  <div class="col-md-12">
    <h2 class="justify-content-center text-uppercase">Previous Task</h2>
    <h3 class="justify-content-center text-uppercase">All Previous Tasks</h3>
  </div>
  <div class="col-md-3" *ngFor="let item of taskData">
    <div class="card text-left">
      <div class="card-body">
        <p class="card-text medium-text">{{item.task_description}}</p>
        <hr>
        <span class="text-muted">{{item.type}}</span>
        <button  mat-raised-button class="pull-right text-uppercase"
          (click)="openResponseViewDialog(item)" color="accent">Details</button>
      </div>
    </div>
  </div>
</div>
