
<div class="row d-flex justify-content-end" style="margin-bottom:20px;">
  <button *ngIf="userData.role !== 'student'" type="button" class="btn btn-jagrik" (click)="addMeeting()"><mat-icon aria-hidden="false">add</mat-icon>Create New Meeting</button>
</div>
<ng-container *ngIf="sched.length == 0">
  <div class="row">
    <div class="col-md-12">
      <img style="max-height: 40vh;max-width: 100%;" src="assets/undraw_calendar_dutt.svg">
    </div>
    <div class="col-md-12">
      <span class="d-flex justify-content-center">No Upcoming Jamghats</span>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="sched.length !== 0">
<div class="d-flex justify-content-center" *ngFor="let item of sched">
  <!-- {{className}} -->
  <!-- {{upcoming}} -->
  <!-- {{myTime| date:'HH:mm'}} {{item.time}} -->
  <!-- //&& item.time > (myTime | date:'HH:mm')
  *ngIf="(item.date |  date:'dd-MMM-yyyy hh:mm a') > (myDate | date: 'dd-MMM-yyyy hh:mm as') || ( (item.date |  date:'dd-MMM-yyyy') == (myDate | date: 'dd-MMM-yyyy') && item.time > (myTime | date:'HH:mm')) " -->
<div class="card" style="width: 500px;border-radius: 0%;margin-bottom:20px;" >
  <div class="row no-gutters ">
      <div class="col-sm-5" style="justify-content: center;
      align-items: center;
      background-color: #cccccc5e;">
        <div class="row">
          <h1 style="font-size: 50px;margin: 0 0 0px;" class="text-uppercase"><b>{{item.time}}</b></h1>
        </div>
        <div class="row">
          <h4 class="text-uppercase">{{item.date |  date:'mediumDate'}} </h4>
        </div>
      </div>
      <div class="col-sm-7">
          <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <a *ngIf="userData.role != 'student'" href="{{item.join_moderate}}" target="_blank"
                class="btn btn-primary btn-sm">Start</a>
                <a *ngIf="userData.role == 'student'"
                  href="{{item.join_attende}}" target="_blank" class="btn btn-primary btn-sm">Join</a>
          </div>
      </div>
  </div>
</div>

</div>
</ng-container>
<!-- <div *ngIf="upcoming == false">
  no upcoming jamghats
</div> -->