<!-- <button class="btn button" type="button" (click)="openCreateClassModal()">
    <i class="material-icons" data-notify="icon">add</i>
    <span data-notify="message">Create New Class</span><br>
 </button> -->



 <div *ngIf="this.role != 'student'" class="create-class" data-notify="container" (click)="openCreateClassModal()">
    <i class="material-icons" data-notify="icon" style="background-color: white; color: black; margin-right: 10px; border-radius: 50%;">add</i>
    <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <!-- <i class="material-icons">close</i> -->
    </button>
    <span data-notify="message"><b>Create New Class</b></span><br><br>
    <span data-notify="message" style="font-size: 10px;">Click to create your first class.</span>
</div>