.button {
    background-color: #CE4166; /* Pink Color */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    letter-spacing: 2px;
  }

  .button:focus{
    outline: none;
  }



  .create-class{
    background-color: #CE4166;
    max-width: 240px;
    color: white;
    border-radius: 3%;
    min-height: 100px;
    padding: 20px;
    cursor: pointer;
    margin: 5px;
  }