.example-full-width{
  width: 100%;
}
::ng-deep {
  .mat-dialog-container {
    max-width: 600px !important;
    padding: 0px !important;
    // border-radius: 10% !important;
  }
}
.center {
  display: flex;
  align-items: center;
}
