.example-full-width{
  width: 100%;
}
::ng-deep {
  .mat-dialog-container {
    max-width: 1000px !important;
    padding: 0px !important;
    // border-radius: 10% !important;
  }
}
.center {
  display: flex;
  align-items: center;
}
::ng-deep{
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px;
}
.mat-form-field-underline {
  color: transparent;
  height: 0px;
  appearance: none;
  width: 0%;
  pointer-events: none;
  transform: scale3d(1, 1.0001, 1);
}
}