<app-create-class *ngIf="userData && userData.role != 'student' && this.classes.length < 1 " style="margin-top: 100px;"
    (class)="getClass($event)">
</app-create-class>

<app-join-class *ngIf="this.classes.length < 1 " (class)="getClass($event)"></app-join-class>

<mat-grid-list cols="4" rowHeight="100px">

    <ng-container *ngFor="let class of classes; let index = index">
        <app-class-view [routerLink]="['/dashboard', 'classes', 'agenda']" [queryParams]="{ classId: class }"
            [class]="'Default Class'"></app-class-view>
    </ng-container>

</mat-grid-list>
