<div class="container" style="margin-top: 5%;" *ngIf="class?.is_open">

    <!-- <h2>Invite Users to Join</h2>

    <form class="form" [formGroup]="inviteStudentsForm" class="form" (ngSubmit)="onSubmit()">
        <input class="form-control" type="text" required placeholder="Please provide the email..."
            formControlName="email">
        <button class="button mt-3" [disabled]="!inviteStudentsForm.valid" type="submit">Send Email</button>
    </form>

    <h2 style="margin-top: 5%;" *ngIf="class">Invite via sharing class code - <span
            (click)="clickToCopy()">{{ class?.class_code }}</span></h2>
</div> -->

<div class="row">
    <div class="col-md-6">
        <div class="invite-student" data-notify="container">
            <!-- <i class="material-icons" data-notify="icon" style="background-color: white; color: black; margin-right: 10px; border-radius: 50%;">add</i> -->
            <h3 class="card-title"><b>Add Using E-Mail ID</b></h3>
            <form class="form" [formGroup]="inviteStudentsForm" class="form" (ngSubmit)="onSubmit()">
                <input class="form-control" type="text" required placeholder="Please provide the email..."
                    formControlName="email">
                <button class="button mt-3 copy-code" [disabled]="!inviteStudentsForm.valid" type="submit" >Send Email</button>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="invite-student" data-notify="container">
            <!-- <i class="material-icons" data-notify="icon" style="background-color: white; color: black; margin-right: 10px; border-radius: 50%;">add</i> -->
            <h3 class="card-title"><b>Add Using Unique Join Code</b></h3>
            <button class="button mt-3 copy-code" (click)="clickToCopy()" style="width: 100%;">{{ class?.class_code }}</button>
        </div>
    </div>
</div>


