@import 'modules/dashboard/dashboard/dashboard-header/dashboard-header.component.scss';

span{
    color: #FCB040;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bolder;
    font-family: "Roboto Condensed";
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    background: #FCB040;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }

  .invite-student{
    background-color: #CE4166;
    max-width: 300px;
    color: white;
    border-radius: 3%;
    min-height: 100px;
    padding: 20px;
    margin: 5px;
    height: 100%;
    cursor: pointer;
  }
  .card-title{
    text-align: center;
  }
  .copy-code{
    text-align: center;
    background: #FCB040;
    color: white;
    border: 0;
    padding: 7px;
    display: flex;
    font-size: larger;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }